/* xs-devices below 375px */

@media (max-width:375px){
    
}

/* * xs-devices below 375px */ 

@media (max-width:375px){
    .xs-devices{
        display: none;
    }
}






.heading-phome{
    letter-spacing: 5px ;
    color: #74C69D;
    font-family: "Work Sans" !important;
    font-weight: normal !important;
    font-size: 26px;
}

.portfolio-phome{
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #000;
    font-family: "Crimson Text" !important;
}

.text-phome{
    font-size: 24px !important;
    font-weight: 400 !important;
    color: #000;
    margin: 10px 0px 0px 0px;
    font-family: "Work Sans" !important;
}