/* for x-small below-375px devices */
@media (max-width:375px){
    .x-small-devices{
        background-color: #74C69D;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   
    .largr-devices{
        display: none;
    }

    .image1{
        width: 60%;
    }

}

/* for below-375px devices */
@media (min-width:375px){
    .x-small-devices{
        display: none;
    }

    .largr-devices{
        background-color: #74C69D;
        padding: 20px 0px 40px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image1{
        width: 35%;
    }

}



.welcome-container{
    margin: 0px 0px 0px 0px;
    width: 60%;
}

